.find {
  margin-top: 85px;
}
.find .find__header-list {
  display: flex;
  justify-content: space-around;
}

.find .find__header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.header-btn .header-btn__icon {
  font-size: 14px;
}

.header-btn .header-btn__title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.find .find__recommended {
  margin-top: 30px;
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
}

.find .find__title {
  font-size: 14px;
  opacity: 0.6;
  font-weight: 600;
  margin-bottom: 20px;
}
