.bigScreen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #fed100;
  z-index: 4;
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 1.5;
  display: none;
}

@media screen and (min-width: 530px) {
  .bigScreen {
    display: flex;
  }
}
