.more {
  margin: 85px 0;
}

.more .more__pay {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f3f3f3;
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.more .more__pay-name {
  display: inline;
  font-weight: 700;
}
.more .more__pay-money {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
}
.more .more__pay-btn {
  font-size: 12px;
  font-weight: 600;
  background-color: white;
  padding: 2px 5px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.more .more__pay-send,
.more .more__pay-pay {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
}

.more .more__pay-pay {
  padding-right: 0;
  border-left: 1px solid #e0e0e0;
}

.more .more__btn-list,
.more__suggestions-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-left: 10px;
}

.more .more__btn,
.more .more__suggestion {
  display: flex;
  width: 75px;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 10px 0;
  margin: 0 15px;
  cursor: pointer;
}

.more .more__btn-icon i {
  font-size: 40px;
}

@keyframes iconSizing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.more__btn-icon .icon-gift {
  animation: iconSizing 1s ease-in-out;
  animation-iteration-count: 2;
}

.more .more__btn-title {
  font-size: 12px;
  margin-top: 10px;
}
.more .more__dat-parent {
  position: relative;
}
.more .more__dat {
  position: absolute;
  top: -35px;
  right: 5px;
  font-size: 50px;
  color: red;
}

.more .more__kakao {
  color: #fed100;
}

.more .more__melon {
  color: #70dd65;
}

.more .more__sub-column {
  display: flex;
  align-items: center;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 30px;
}

.more .more__sub-mail {
  margin-right: 155px;
}

.more .more__sub-title {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}

.more .more__sub-content {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
}

.more .more__sub-img {
  position: relative;
  padding: 20px 0;
}

.more .more__ad {
  width: 100%;
  border-radius: 5px;
}

.more .more__ad-badge {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 5px;
  color: white;
  font-weight: 600;
  background-color: rgba(139, 139, 139, 0.2);
}

.more .more__ad-content {
  position: absolute;
  bottom: 35px;
  left: 10px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.more .more__ad-btn {
  position: absolute;
  bottom: 30px;
  right: 8px;
  font-size: 10px;
  color: white;
  font-weight: 600;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
}

.more .more__ad,
.more .more__ad-badge,
.more .more__ad-btn,
.more .more__ad-content {
  animation: fadeIn 0.5s ease-in-out;
}
